.menu{line-height:1vw;margin:0 auto 3em;z-index:9999999;}
.menu__list{position:relative;display:-webkit-flex;display:flex;flex-wrap:wrap;margin:0;margin-top:-1vw;padding:0;align-items:center;justify-content:center;list-style:none;}
.menu__item{display:block;margin:1em 0;margin-bottom:0;}
.menu__link{font-size:1.05em;font-weight:bold;display:block;padding:1em;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.menu__link:hover,
.menu__link:focus{outline:none;}
.menu--shylock .menu__link{position:relative;color:#b5b5b5;-webkit-transition:color 1s;transition:color 1s;transition:.5s;text-align:center;}
.menu--shylock .menu__item--current .menu__link,
.menu--shylock .menu__item--current .menu__link:hover,
.menu--shylock .menu__item--current .menu__link:focus{color:#d94f5c;}
.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);left:0;}
.menu--shylock .menu__item--current .menu__link::before{-webkit-transition-delay:0s;transition-delay:0s;}
.menu--shylock .menu__link:hover,
.menu--shylock .menu__link:focus{color:#b5b5b5;}
.menu--shylock .menu__link:hover::before,
.menu--shylock .menu__link:focus::before{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);-webkit-transition-delay:0s;transition-delay:0s;left:0;}
.menu--shylock .menu__link::before,
.menu--shylock .menu__link::after{content:'';position:absolute;bottom:0;left:50%;width:100%;height:1px;-webkit-transform:scale3d(0, 1, 1);transform:scale3d(0, 1, 1);-webkit-transform-origin:center left;transform-origin:center left;-webkit-transition:transform 1s cubic-bezier(0.22, 0.61, 0.36, 1);transition:transform 1s cubic-bezier(0.22, 0.61, 0.36, 1);transition:.5s;}
.menu--shylock .menu__link::before{background:#b5b5b5;-webkit-transition-delay:.3s;transition-delay:.3s;}
.menu--shylock .menu__link::after{background:#d94f5c;}
@font-face{font-family:'icomoon';src:url('../fonts/icomoon.eot');src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
url('../fonts/icomoon.woff') format('woff'),
url('../fonts/icomoon.ttf') format('truetype'),
url('../fonts/icomoon.svg#icomoon') format('svg');font-weight:normal;font-style:normal;}
.dl-menuwrapper{width:100%;max-width:300px;float:left;position:relative;-webkit-perspective:1000px;perspective:1000px;-webkit-perspective-origin:50% 200%;perspective-origin:50% 200%;}
.dl-menuwrapper:first-child{}
.dl-menuwrapper button{background:#ccc;border:none;width:48px;height:45px;text-indent:-900em;overflow:hidden;position:relative;cursor:pointer;outline:none;}
.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul{background:rgba(35,35,35,0.7);}
.dl-menuwrapper button:after{content:'';position:absolute;width:68%;height:5px;background:#fff;top:10px;left:16%;box-shadow:0 10px 0 #fff,
0 20px 0 #fff;}
.dl-menuwrapper ul{padding:0;list-style:none;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;}
.dl-menuwrapper li{position:relative;}
.dl-menuwrapper li a{display:block;position:relative;padding:15px 20px;font-size:16px;line-height:20px;font-weight:300;color:#fff;outline:none;}
.dl-menuwrapper li a:hover{background:rgba(255,248,213,0.1);}
.dl-menuwrapper li.dl-back > a{padding-left:30px;background:rgba(0,0,0,0.1);}
.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after{position:absolute;top:0;line-height:50px;font-family:'icomoon';speak:none;-webkit-font-smoothing:antialiased;content:"\e000";}
.dl-menuwrapper li.dl-back:after{left:10px;color:rgba(212,204,198,0.3);-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.dl-menuwrapper li > a:after{right:10px;color:rgba(0,0,0,0.15);}
.dl-menuwrapper .dl-menu{position:absolute;width:100%;opacity:0;pointer-events:none;-webkit-transform:translateY(10px);transform:translateY(10px);-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.dl-menuwrapper .dl-menu.dl-menu-toggle{transition:all 0.5s ease;}
.dl-menuwrapper .dl-menu.dl-menuopen{opacity:1;pointer-events:auto;-webkit-transform:translateY(0px);transform:translateY(0px);}
.dl-menuwrapper li .dl-submenu{display:none;}
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a{display:none;}
.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li{display:block;}
.dl-menuwrapper > .dl-submenu{position:absolute;width:100%;top:50px;left:0;margin:0;}
.dl-menu.dl-animate-out-1{-webkit-animation:MenuAnimOut1 0.4s;animation:MenuAnimOut1 0.4s;}
.dl-menu.dl-animate-out-2{-webkit-animation:MenuAnimOut2 0.3s ease-in-out;animation:MenuAnimOut2 0.3s ease-in-out;}
.dl-menu.dl-animate-out-3{-webkit-animation:MenuAnimOut3 0.4s ease;animation:MenuAnimOut3 0.4s ease;}
.dl-menu.dl-animate-out-4{-webkit-animation:MenuAnimOut4 0.4s ease;animation:MenuAnimOut4 0.4s ease;}
.dl-menu.dl-animate-out-5{-webkit-animation:MenuAnimOut5 0.4s ease;animation:MenuAnimOut5 0.4s ease;}
@-webkit-keyframes MenuAnimOut1{0%{}
50%{-webkit-transform:translateZ(-250px) rotateY(30deg);}
75%{-webkit-transform:translateZ(-372.5px) rotateY(15deg);opacity:.5;}
100%{-webkit-transform:translateZ(-500px) rotateY(0deg);opacity:0;}
}
@-webkit-keyframes MenuAnimOut2{0%{}
100%{-webkit-transform:translateX(-100%);opacity:0;}
}
@-webkit-keyframes MenuAnimOut3{0%{}
100%{-webkit-transform:translateZ(300px);opacity:0;}
}
@-webkit-keyframes MenuAnimOut4{0%{}
100%{-webkit-transform:translateZ(-300px);opacity:0;}
}
@-webkit-keyframes MenuAnimOut5{0%{}
100%{-webkit-transform:translateY(40%);opacity:0;}
}
@keyframes MenuAnimOut1{0%{}
50%{-webkit-transform:translateZ(-250px) rotateY(30deg);transform:translateZ(-250px) rotateY(30deg);}
75%{-webkit-transform:translateZ(-372.5px) rotateY(15deg);transform:translateZ(-372.5px) rotateY(15deg);opacity:.5;}
100%{-webkit-transform:translateZ(-500px) rotateY(0deg);transform:translateZ(-500px) rotateY(0deg);opacity:0;}
}
@keyframes MenuAnimOut2{0%{}
100%{-webkit-transform:translateX(-100%);transform:translateX(-100%);opacity:0;}
}
@keyframes MenuAnimOut3{0%{}
100%{-webkit-transform:translateZ(300px);transform:translateZ(300px);opacity:0;}
}
@keyframes MenuAnimOut4{0%{}
100%{-webkit-transform:translateZ(-300px);transform:translateZ(-300px);opacity:0;}
}
@keyframes MenuAnimOut5{0%{}
100%{-webkit-transform:translateY(40%);transform:translateY(40%);opacity:0;}
}
.dl-menu.dl-animate-in-1{-webkit-animation:MenuAnimIn1 0.3s;animation:MenuAnimIn1 0.3s;}
.dl-menu.dl-animate-in-2{-webkit-animation:MenuAnimIn2 0.3s ease-in-out;animation:MenuAnimIn2 0.3s ease-in-out;}
.dl-menu.dl-animate-in-3{-webkit-animation:MenuAnimIn3 0.4s ease;animation:MenuAnimIn3 0.4s ease;}
.dl-menu.dl-animate-in-4{-webkit-animation:MenuAnimIn4 0.4s ease;animation:MenuAnimIn4 0.4s ease;}
.dl-menu.dl-animate-in-5{-webkit-animation:MenuAnimIn5 0.4s ease;animation:MenuAnimIn5 0.4s ease;}
@-webkit-keyframes MenuAnimIn1{0%{-webkit-transform:translateZ(-500px) rotateY(0deg);opacity:0;}
20%{-webkit-transform:translateZ(-250px) rotateY(30deg);opacity:0.5;}
100%{-webkit-transform:translateZ(0px) rotateY(0deg);opacity:1;}
}
@-webkit-keyframes MenuAnimIn2{0%{-webkit-transform:translateX(-100%);opacity:0;}
100%{-webkit-transform:translateX(0px);opacity:1;}
}
@-webkit-keyframes MenuAnimIn3{0%{-webkit-transform:translateZ(300px);opacity:0;}
100%{-webkit-transform:translateZ(0px);opacity:1;}
}
@-webkit-keyframes MenuAnimIn4{0%{-webkit-transform:translateZ(-300px);opacity:0;}
100%{-webkit-transform:translateZ(0px);opacity:1;}
}
@-webkit-keyframes MenuAnimIn5{0%{-webkit-transform:translateY(40%);opacity:0;}
100%{-webkit-transform:translateY(0);opacity:1;}
}
@keyframes MenuAnimIn1{0%{-webkit-transform:translateZ(-500px) rotateY(0deg);transform:translateZ(-500px) rotateY(0deg);opacity:0;}
20%{-webkit-transform:translateZ(-250px) rotateY(30deg);transform:translateZ(-250px) rotateY(30deg);opacity:0.5;}
100%{-webkit-transform:translateZ(0px) rotateY(0deg);transform:translateZ(0px) rotateY(0deg);opacity:1;}
}
@keyframes MenuAnimIn2{0%{-webkit-transform:translateX(-100%);transform:translateX(-100%);opacity:0;}
100%{-webkit-transform:translateX(0px);transform:translateX(0px);opacity:1;}
}
@keyframes MenuAnimIn3{0%{-webkit-transform:translateZ(300px);transform:translateZ(300px);opacity:0;}
100%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1;}
}
@keyframes MenuAnimIn4{0%{-webkit-transform:translateZ(-300px);transform:translateZ(-300px);opacity:0;}
100%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1;}
}
@keyframes MenuAnimIn5{0%{-webkit-transform:translateY(40%);transform:translateY(40%);opacity:0;}
100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1;}
}
.dl-menuwrapper > .dl-submenu.dl-animate-in-1{-webkit-animation:SubMenuAnimIn1 0.4s ease;animation:SubMenuAnimIn1 0.4s ease;}
.dl-menuwrapper > .dl-submenu.dl-animate-in-2{-webkit-animation:SubMenuAnimIn2 0.3s ease-in-out;animation:SubMenuAnimIn2 0.3s ease-in-out;}
.dl-menuwrapper > .dl-submenu.dl-animate-in-3{-webkit-animation:SubMenuAnimIn3 0.4s ease;animation:SubMenuAnimIn3 0.4s ease;}
.dl-menuwrapper > .dl-submenu.dl-animate-in-4{-webkit-animation:SubMenuAnimIn4 0.4s ease;animation:SubMenuAnimIn4 0.4s ease;}
.dl-menuwrapper > .dl-submenu.dl-animate-in-5{-webkit-animation:SubMenuAnimIn5 0.4s ease;animation:SubMenuAnimIn5 0.4s ease;}
@-webkit-keyframes SubMenuAnimIn1{0%{-webkit-transform:translateX(50%);opacity:0;}
100%{-webkit-transform:translateX(0px);opacity:1;}
}
@-webkit-keyframes SubMenuAnimIn2{0%{-webkit-transform:translateX(100%);opacity:0;}
100%{-webkit-transform:translateX(0px);opacity:1;}
}
@-webkit-keyframes SubMenuAnimIn3{0%{-webkit-transform:translateZ(-300px);opacity:0;}
100%{-webkit-transform:translateZ(0px);opacity:1;}
}
@-webkit-keyframes SubMenuAnimIn4{0%{-webkit-transform:translateZ(300px);opacity:0;}
100%{-webkit-transform:translateZ(0px);opacity:1;}
}
@-webkit-keyframes SubMenuAnimIn5{0%{-webkit-transform:translateZ(-200px);opacity:0;}
100%{-webkit-transform:translateZ(0);opacity:1;}
}
@keyframes SubMenuAnimIn1{0%{-webkit-transform:translateX(50%);transform:translateX(50%);opacity:0;}
100%{-webkit-transform:translateX(0px);transform:translateX(0px);opacity:1;}
}
@keyframes SubMenuAnimIn2{0%{-webkit-transform:translateX(100%);transform:translateX(100%);opacity:0;}
100%{-webkit-transform:translateX(0px);transform:translateX(0px);opacity:1;}
}
@keyframes SubMenuAnimIn3{0%{-webkit-transform:translateZ(-300px);transform:translateZ(-300px);opacity:0;}
100%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1;}
}
@keyframes SubMenuAnimIn4{0%{-webkit-transform:translateZ(300px);transform:translateZ(300px);opacity:0;}
100%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1;}
}
@keyframes SubMenuAnimIn5{0%{-webkit-transform:translateZ(-200px);transform:translateZ(-200px);opacity:0;}
100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1;}
}
.dl-menuwrapper > .dl-submenu.dl-animate-out-1{-webkit-animation:SubMenuAnimOut1 0.4s ease;animation:SubMenuAnimOut1 0.4s ease;}
.dl-menuwrapper > .dl-submenu.dl-animate-out-2{-webkit-animation:SubMenuAnimOut2 0.3s ease-in-out;animation:SubMenuAnimOut2 0.3s ease-in-out;}
.dl-menuwrapper > .dl-submenu.dl-animate-out-3{-webkit-animation:SubMenuAnimOut3 0.4s ease;animation:SubMenuAnimOut3 0.4s ease;}
.dl-menuwrapper > .dl-submenu.dl-animate-out-4{-webkit-animation:SubMenuAnimOut4 0.4s ease;animation:SubMenuAnimOut4 0.4s ease;}
.dl-menuwrapper > .dl-submenu.dl-animate-out-5{-webkit-animation:SubMenuAnimOut5 0.4s ease;animation:SubMenuAnimOut5 0.4s ease;}
@-webkit-keyframes SubMenuAnimOut1{0%{-webkit-transform:translateX(0%);opacity:1;}
100%{-webkit-transform:translateX(50%);opacity:0;}
}
@-webkit-keyframes SubMenuAnimOut2{0%{-webkit-transform:translateX(0%);opacity:1;}
100%{-webkit-transform:translateX(100%);opacity:0;}
}
@-webkit-keyframes SubMenuAnimOut3{0%{-webkit-transform:translateZ(0px);opacity:1;}
100%{-webkit-transform:translateZ(-300px);opacity:0;}
}
@-webkit-keyframes SubMenuAnimOut4{0%{-webkit-transform:translateZ(0px);opacity:1;}
100%{-webkit-transform:translateZ(300px);opacity:0;}
}
@-webkit-keyframes SubMenuAnimOut5{0%{-webkit-transform:translateZ(0);opacity:1;}
100%{-webkit-transform:translateZ(-200px);opacity:0;}
}
@keyframes SubMenuAnimOut1{0%{-webkit-transform:translateX(0%);transform:translateX(0%);opacity:1;}
100%{-webkit-transform:translateX(50%);transform:translateX(50%);opacity:0;}
}
@keyframes SubMenuAnimOut2{0%{-webkit-transform:translateX(0%);transform:translateX(0%);opacity:1;}
100%{-webkit-transform:translateX(100%);transform:translateX(100%);opacity:0;}
}
@keyframes SubMenuAnimOut3{0%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1;}
100%{-webkit-transform:translateZ(-300px);transform:translateZ(-300px);opacity:0;}
}
@keyframes SubMenuAnimOut4{0%{-webkit-transform:translateZ(0px);transform:translateZ(0px);opacity:1;}
100%{-webkit-transform:translateZ(300px);transform:translateZ(300px);opacity:0;}
}
@keyframes SubMenuAnimOut5{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1;}
100%{-webkit-transform:translateZ(-200px);transform:translateZ(-200px);opacity:0;}
}
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);@font-face{font-family:'fontawesome';src:url('../fonts/fontawesome.eot');src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
url('../fonts/fontawesome.svg#fontawesome') format('svg'),
url('../fonts/fontawesome.woff') format('woff'),
url('../fonts/fontawesome.ttf') format('truetype');font-weight:normal;font-style:normal;}
body, html{font-size:100%;padding:0;margin:0;}
*,
*:after,
*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.clearfix:before,
.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
body{font-family:'Lato', Calibri, Arial, sans-serif;color:#b1aea6;background:#fffcf5;min-height:800px;}
a{color:#ccc;text-decoration:none;}
a:hover{color:#fff;}
.main,
.container > header{width:100%;margin:0 auto;padding:0 1.875em 3.125em 1.875em;}
.main{max-width:69em;padding-top:2em;}
.column{float:left;width:50%;padding:0 2em;min-height:300px;min-width:320px;position:relative;}
.column:nth-child(2){min-height:400px;box-shadow:-1px 0 0 rgba(0,0,0,0.1);background:url(../images/clickhere.png) 90px 0 no-repeat;}
.column:last-child:before{content:'';position:absolute;height:7px;background:#ceccc6;top:100px;left:10px;}
.column p{font-weight:300;font-size:2em;padding:0;margin:0;text-align:right;line-height:1.5;}
.container > header{padding:2.875em 1.875em 2.875em;text-align:center;background:rgba(0,0,0,0.01);}
.container > header h1{font-size:2.625em;line-height:1.3;margin:0;color:#89867e;font-weight:300;}
.container > header span{display:block;font-size:60%;color:#ceccc6;padding:0 0 0.6em 0.1em;}
.codrops-top{background:#fff;background:rgba(255, 255, 255, 0.95);text-transform:uppercase;position:relative;font-size:0.68em;box-shadow:1px 0px 2px rgba(0,0,0,0.2);line-height:2.2;}
.codrops-top a{padding:0 1em;letter-spacing:0.1em;color:#333;display:inline-block;}
.codrops-top a:hover{background:rgba(255,255,255,0.99);color:#000;}
.codrops-top span.right{float:right;}
.codrops-top span.right a{float:left;display:block;}
.codrops-demos{padding-top:1em;font-size:0.9em;}
.codrops-demos a{display:inline-block;margin:0.5em;padding:0.7em 1.1em;border:3px solid #b1aea6;color:#b1aea6;font-weight:700;}
.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{border-color:#89867e;color:#89867e;}
.column{width:100%;min-width:auto;min-height:auto;padding:3em 2em;}
.column p{text-align:left;font-size:1.5em;}
.column:nth-child(2){box-shadow:0 -1px 0 rgba(0,0,0,0.1);background-position:90px 3em;}
}
[data-balloon]{position:relative;}
[data-balloon]:before{filter:alpha(opactiy=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-moz-opacity:0;-khtml-opacity:0;opacity:0;pointer-events:none;-webkit-transition:all 0.18s ease-out;-moz-transition:all 0.18s ease-out;-ms-transition:all 0.18s ease-out;-o-transition:all 0.18s ease-out;transition:all 0.18s ease-out;background:rgba(35,35,35,0.7);border-radius:4px;color:#fff;content:attr(data-balloon);font-size:12px;padding:.5em 1em;position:absolute;white-space:nowrap;z-index:10;}
[data-balloon]:after{background:no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(35,35,35,0.7)" transform="rotate(0)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');background-size:100% auto;width:18px;height:6px;filter:alpha(opactiy=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-moz-opacity:0;-khtml-opacity:0;opacity:0;pointer-events:none;-webkit-transition:all 0.18s ease-out;-moz-transition:all 0.18s ease-out;-ms-transition:all 0.18s ease-out;-o-transition:all 0.18s ease-out;transition:all 0.18s ease-out;content:'';position:absolute;z-index:10;}
[data-balloon]:hover:before, [data-balloon]:hover:after{filter:alpha(opactiy=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-moz-opacity:1;-khtml-opacity:1;opacity:1;pointer-events:auto;}
[data-balloon][data-balloon-break]:before{white-space:normal;}
[data-balloon][data-balloon-pos="up"]:before{bottom:100%;left:50%;margin-bottom:11px;-webkit-transform:translate3d(-50%, 10px, 0);-moz-transform:translate3d(-50%, 10px, 0);-ms-transform:translate3d(-50%, 10px, 0);transform:translate3d(-50%, 10px, 0);-webkit-transform-origin:top;-moz-transform-origin:top;-ms-transform-origin:top;transform-origin:top;}
[data-balloon][data-balloon-pos="up"]:after{bottom:100%;left:50%;margin-bottom:5px;-webkit-transform:translate3d(-50%, 10px, 0);-moz-transform:translate3d(-50%, 10px, 0);-ms-transform:translate3d(-50%, 10px, 0);transform:translate3d(-50%, 10px, 0);-webkit-transform-origin:top;-moz-transform-origin:top;-ms-transform-origin:top;transform-origin:top;}
[data-balloon][data-balloon-pos="up"]:hover:before{-webkit-transform:translate3d(-50%, 0, 0);-moz-transform:translate3d(-50%, 0, 0);-ms-transform:translate3d(-50%, 0, 0);transform:translate3d(-50%, 0, 0);}
[data-balloon][data-balloon-pos="up"]:hover:after{-webkit-transform:translate3d(-50%, 0, 0);-moz-transform:translate3d(-50%, 0, 0);-ms-transform:translate3d(-50%, 0, 0);transform:translate3d(-50%, 0, 0);}
[data-balloon][data-balloon-pos='down']:before{left:50%;margin-top:11px;top:100%;-webkit-transform:translate3d(-50%, -10px, 0);-moz-transform:translate3d(-50%, -10px, 0);-ms-transform:translate3d(-50%, -10px, 0);transform:translate3d(-50%, -10px, 0);}
[data-balloon][data-balloon-pos='down']:after{background:no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(35,35,35,0.7)" transform="rotate(180 18 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');background-size:100% auto;width:18px;height:6px;left:50%;margin-top:5px;top:100%;-webkit-transform:translate3d(-50%, -10px, 0);-moz-transform:translate3d(-50%, -10px, 0);-ms-transform:translate3d(-50%, -10px, 0);transform:translate3d(-50%, -10px, 0);}
[data-balloon][data-balloon-pos='down']:hover:before{-webkit-transform:translate3d(-50%, 0, 0);-moz-transform:translate3d(-50%, 0, 0);-ms-transform:translate3d(-50%, 0, 0);transform:translate3d(-50%, 0, 0);}
[data-balloon][data-balloon-pos='down']:hover:after{-webkit-transform:translate3d(-50%, 0, 0);-moz-transform:translate3d(-50%, 0, 0);-ms-transform:translate3d(-50%, 0, 0);transform:translate3d(-50%, 0, 0);}
[data-balloon][data-balloon-pos='left']:before{margin-right:11px;right:100%;top:50%;-webkit-transform:translate3d(10px, -50%, 0);-moz-transform:translate3d(10px, -50%, 0);-ms-transform:translate3d(10px, -50%, 0);transform:translate3d(10px, -50%, 0);}
[data-balloon][data-balloon-pos='left']:after{background:no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="rgba(35,35,35,0.7)" transform="rotate(-90 18 18)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');background-size:100% auto;width:6px;height:18px;margin-right:5px;right:100%;top:50%;-webkit-transform:translate3d(10px, -50%, 0);-moz-transform:translate3d(10px, -50%, 0);-ms-transform:translate3d(10px, -50%, 0);transform:translate3d(10px, -50%, 0);}
[data-balloon][data-balloon-pos='left']:hover:before{-webkit-transform:translate3d(0, -50%, 0);-moz-transform:translate3d(0, -50%, 0);-ms-transform:translate3d(0, -50%, 0);transform:translate3d(0, -50%, 0);}
[data-balloon][data-balloon-pos='left']:hover:after{-webkit-transform:translate3d(0, -50%, 0);-moz-transform:translate3d(0, -50%, 0);-ms-transform:translate3d(0, -50%, 0);transform:translate3d(0, -50%, 0);}
[data-balloon][data-balloon-pos='right']:before{left:100%;margin-left:11px;top:50%;-webkit-transform:translate3d(-10px, -50%, 0);-moz-transform:translate3d(-10px, -50%, 0);-ms-transform:translate3d(-10px, -50%, 0);transform:translate3d(-10px, -50%, 0);}
[data-balloon][data-balloon-pos='right']:after{background:no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="rgba(35,35,35,0.7)" transform="rotate(90 6 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');background-size:100% auto;width:6px;height:18px;left:100%;margin-left:5px;top:50%;-webkit-transform:translate3d(-10px, -50%, 0);-moz-transform:translate3d(-10px, -50%, 0);-ms-transform:translate3d(-10px, -50%, 0);transform:translate3d(-10px, -50%, 0);}
[data-balloon][data-balloon-pos='right']:hover:before{-webkit-transform:translate3d(0, -50%, 0);-moz-transform:translate3d(0, -50%, 0);-ms-transform:translate3d(0, -50%, 0);transform:translate3d(0, -50%, 0);}
[data-balloon][data-balloon-pos='right']:hover:after{-webkit-transform:translate3d(0, -50%, 0);-moz-transform:translate3d(0, -50%, 0);-ms-transform:translate3d(0, -50%, 0);transform:translate3d(0, -50%, 0);}
[data-balloon][data-balloon-length='small']:before{white-space:pre-line;width:80px;}
[data-balloon][data-balloon-length='medium']:before{white-space:pre-line;width:150px;}
[data-balloon][data-balloon-length='large']:before{white-space:pre-line;width:260px;}
[data-balloon][data-balloon-length='xlarge']:before{white-space:pre-line;width:380px;}
}
[data-balloon][data-balloon-length='fit']:before{white-space:normal;width:100%;}
.waves-effect{position:relative;cursor:pointer;display:inline-block;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;}
.waves-effect .waves-ripple{position:absolute;border-radius:50%;width:100px;height:100px;margin-top:-50px;margin-left:-50px;opacity:0;background:rgba(0, 0, 0, 0.2);background:-webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);background:-o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);background:-moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);background:radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out;-webkit-transition-property:-webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;-o-transition-property:-o-transform, opacity;transition-property:transform, opacity;-webkit-transform:scale(0) translate(0, 0);-moz-transform:scale(0) translate(0, 0);-ms-transform:scale(0) translate(0, 0);-o-transform:scale(0) translate(0, 0);transform:scale(0) translate(0, 0);pointer-events:none;}
.waves-effect.waves-light .waves-ripple{background:rgba(255, 255, 255, 0.4);background:-webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);background:-o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);background:-moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);background:radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);}
.waves-effect.waves-classic .waves-ripple{background:rgba(0, 0, 0, 0.2);}
.waves-effect.waves-spoody .waves-ripple{background:rgba(35,35,35,0.7);}
.waves-effect.waves-classic.waves-light .waves-ripple{background:rgba(255, 255, 255, 0.4);}
.waves-notransition{-webkit-transition:none !important;-moz-transition:none !important;-o-transition:none !important;transition:none !important;}
.waves-button,
.waves-circle{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-mask-image:-webkit-radial-gradient(circle, #ffffff 100%, #000000 100%);}
.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input{white-space:nowrap;vertical-align:middle;cursor:pointer;border:none;outline:none;color:inherit;background-color:rgba(0, 0, 0, 0);font-size:1em;line-height:1em;text-align:center;text-decoration:none;z-index:1;}
.waves-button{padding:0.85em 1.1em;border-radius:0.2em;}
.waves-button-input{margin:0;padding:0.85em 1.1em;}
.waves-input-wrapper{border-radius:0.2em;vertical-align:bottom;}
.waves-input-wrapper.waves-button{padding:0;}
.waves-input-wrapper .waves-button-input{position:relative;top:0;left:0;z-index:1;}
.waves-circle{text-align:center;width:2.5em;height:2.5em;line-height:2.5em;border-radius:50%;}
.waves-float{-webkit-mask-image:none;-webkit-box-shadow:0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);box-shadow:0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);-webkit-transition:all 300ms;-moz-transition:all 300ms;-o-transition:all 300ms;transition:all 300ms;}
.waves-float:active{-webkit-box-shadow:0px 8px 20px 1px rgba(0, 0, 0, 0.3);box-shadow:0px 8px 20px 1px rgba(0, 0, 0, 0.3);}
.waves-block{display:block;}
